<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzy.mapper.AdministratorsMapper">

    <resultMap id="BaseResultMap" type="com.wzy.pojo.Administrators">
            <id property="account" column="account" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="bio" column="bio" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="creationTime" column="creation_time" jdbcType="TIMESTAMP"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="isSuperAdmin" column="is_super_admin" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        account,nickname,password,
        bio,avatar_url,ip_address,
        creation_time,last_login_time,email
    </sql>

    <select id="selectSuperInfo" resultType="com.wzy.pojo.Administrators">
        select  account,nickname,password,
                bio,avatar_url,ip_address,
                creation_time,last_login_time,email
        from administrators
        where is_super_admin = 1
    </select>
</mapper>
