* {
    margin: 0;
}
a {
  text-decoration: none;
}

/* 上下左右对齐 */
.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* 针对Webkit浏览器（如Chrome和Safari） */
::-webkit-scrollbar {
    width: 3px; /* 滚动条宽度 */
    height: 1px; /* 滚动条高度 */
  }
  
  /* 滚动条的滑块 */
  ::-webkit-scrollbar-thumb {
    background-color: #201ac9; /* 滑块颜色 */
    border-radius: 6px; /* 滑块圆角 */
  }
  
  /* 滚动条的轨道 */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 轨道颜色 */
  }
